/* uview */
@import 'uview-ui/theme.scss';

/* 自定义主题色
 * 页面使用方式: $u-type-primary
 */
$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;
