/*文本格式化，超出范围，显示省略号*/
@mixin text-overflow($width:100%, $display:block) {
  width: $width;
  display: $display;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 清除浮动 */
@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }

  *height: 1%;
}

/* 清除滚动条阴影 */
@mixin clearScrollBar {
  overflow: -moz-scrollbars-none;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-overflow-style: none;
  -ms-scrollbar-track-color: transparent;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
}